/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/harfbuzz.pc
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/so_locations
/src/Makefile.in
/stamp-h1
/tags
/test/Makefile.in
/config.guess.cdbs-orig
/config.sub.cdbs-orig
/debian/*.debhelper.log
/debian/*.substvars
/debian/*.debhelper
/debian/stamp-autotools
/debian/stamp-autotools-files
/debian/stamp-makefile-build
/debian/stamp-makefile-install
/debian/tmp/
/debian/files
/debian/libharfbuzz/
/debian/libharfbuzz-dbg/
/debian/libharfbuzz-dev/
