build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
build-stamp
debian/files
debian/*.substvars
debian/libharfbuzz-dbg/
debian/libharfbuzz-dev/
debian/libharfbuzz/
config.guess
config.sub
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
libharfbuzz.so*
Makefile
