Package: libharfbuzz
Source: harfbuzz
Version: 0.4.0-1slp2+3
Architecture: armel
Maintainer: janani <janani.k@samsung.com>
Installed-Size: 544
Section: libs
Priority: optional
Description: Hindi Reshaping Library
