Package: libharfbuzz-dbg
Source: harfbuzz
Version: 0.4.0-1slp2+3
Architecture: armel
Maintainer: janani <janani.k@samsung.com>
Installed-Size: 52
Depends: libharfbuzz (= 0.4.0-1slp2+3)
Section: debug
Priority: optional
Description: Hindi reshaping library (unstripped)
