Source: harfbuzz
Section: libs
Priority: optional
Maintainer: janani <janani.k@samsung.com>, Kesavardhana Gandla <kesav.gandla@samsung.com>, Jihoon Kim <jihoon48.kim@samsung.com>, Sehwan Park <sehwan@samsung.com>
Build-Depends: debhelper (>= 5),libfreetype6-dev, pkg-config, ragel
Standards-Version: 3.7.2

Package: libharfbuzz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hindi Reshaping Library 


Package: libharfbuzz-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libharfbuzz (= ${binary:Version})
Description: Hindi reshaping library (unstripped)

Package: libharfbuzz-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libharfbuzz (= ${Source-Version})
Description: Hindi reshaping library (unstripped)
