Source: libharfbuzz
Section: libs
Priority: optional
Maintainer: prameet <prameet.k@partner.samsung.com>, Janani K <janani.k@samsung.com>
Build-Depends: debhelper (>= 5),libfreetype6-dev, pkg-config
Standards-Version: 3.7.2

Package: libharfbuzz
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hindi Reshaping Library 


Package: libharfbuzz-dev
Architecture: armel
Section: debug
Depends: ${misc:Depends}, libharfbuzz (= ${binary:Version})
Description: Hindi reshaping library (unstripped)

